body {
	margin: 20px auto;
	width: 70%;
}

.hcenter {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.vcenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

nav ul {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

nav ul li {
	display: inline;
	margin-right:; 20px;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3em;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
	font-size: 1.5em;
	line-height: 1.4em;
	color: #333;
}

ul.posts {
	margin: 20px auto 40px;
	font-size: 1.5em;
}

ul.posts li {
	list-style: none;
}