body {
	margin: 40px auto;
	width: 70%;
}

nav ul {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

nav ul li {
	display: inline;
	margin-right:; 20px;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3em;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
	font-size: 1.3em;
	line-height: 1.2em;
	color: #333;
}

ul.posts {
	margin: 20px auto 40px;
	font-size: 1.3em;
}

ul.posts li {
	list-style: none;
}

.meta {
	color: #444;
}